*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  outline: none;
  border: none;
}

._container {
  max-width: 1116px;
  margin: 0 auto;
}

html,
body {
  overflow: hidden;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: #14131a url("../img/main-bg.jpg") no-repeat center center/100%;
  color: #fff;
}

#lol123 {
  z-index: 199;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 151px;
  z-index: 200;
}

.header-logo {
  margin-right: 22px;
}

.header-logo svg {
  width: 46px;
}

.header-nav-link {
  margin-left: 30px;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.header-nav-link:hover {
  opacity: 0.8;
}

.burger {
  display: none;
}

.burger-text {
  display: block;
  font-size: 20px;
  margin-right: 20px;
}

.burger-line {
  display: block;
  height: 3px;
  width: 29px;
  background-color: #fff;
  border-radius: 5px;
}

.burger-line:not(:last-child) {
  margin-bottom: 8px;
}

.burger-arrow {
  display: none;
}

.active {
  overflow: hidden;
}

.active .header-nav {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 222;
  background-color: white;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.active .header-nav div {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 485px;
  height: 101px;
}

.active .header-nav .burger-arrow {
  color: #14131a;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
}

.active .header-nav .burger-arrow img {
  width: 35px;
  margin-left: 15px;
}

.active .header-nav-link {
  color: #14131a;
  opacity: 1;
  display: block;
  margin-bottom: 15px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  margin-bottom: 200px;
}

.main-date {
  font-size: 24px;
  margin-bottom: 38px;
  opacity: 0.8;
}

.main-heading {
  margin-bottom: 40px;
  width: 835px;
}

.main-description {
  max-width: 420px;
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 14px;
  margin-top: 70px;
}

.main-btn img {
  width: 14px;
}

.main-btn span {
  margin-left: 10px;
}

.main-btn1 {
  background: #ffffff;
  border-radius: 5px;
  color: #8d0019;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.main-btn1:hover {
  opacity: 0.8;
}

.main-btn2 {
  background-color: transparent;
  color: #fff;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-btn2:hover {
  opacity: 0.7;
}

.venom {
  position: absolute;
  top: 25px;
  right: 0;
  -webkit-animation: venom 3s ease 1;
          animation: venom 3s ease 1;
}

@-webkit-keyframes venom {
  0% {
    right: -700px;
  }

  100% {
    right: 0;
  }
}

@keyframes venom {
  0% {
    right: -700px;
  }

  100% {
    right: 0;
  }
}

.slide {
  z-index: -1;
  position: absolute;
  top: -10%;
  right: 0;
  height: 120%;
  width: 500px;
  -webkit-transform: rotate(-11deg);
      -ms-transform: rotate(-11deg);
          transform: rotate(-11deg);
  background: -webkit-gradient(linear, left top, left bottom, from(#8d0019), to(#230006));
  background: -o-linear-gradient(top, #8d0019 0%, #230006 100%);
  background: linear-gradient(180deg, #8d0019 0%, #230006 100%);
  -webkit-animation: slide 3s ease 1;
          animation: slide 3s ease 1;
  opacity: 0.8;
}

@-webkit-keyframes slide {
  0% {
    right: -700px;
  }

  20% {
    right: -700px;
  }

  60% {
    right: 50px;
  }

  100% {
    right: 0;
  }
}

@keyframes slide {
  0% {
    right: -700px;
  }

  20% {
    right: -700px;
  }

  60% {
    right: 50px;
  }

  100% {
    right: 0;
  }
}

.blood {
  z-index: -20;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation: blood 3s ease 1;
          animation: blood 3s ease 1;
}

@-webkit-keyframes blood {
  0% {
    right: -1500px;
  }

  100% {
    right: 0;
  }
}

@keyframes blood {
  0% {
    right: -1500px;
  }

  100% {
    right: 0;
  }
}

._heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  opacity: 0.8;
}

._paragraph {
  font-size: 16px;
  line-height: 140%;
  opacity: 0.8;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about-heading {
  margin-top: 10px;
  margin-bottom: 21px;
}

.about-description {
  max-width: 420px;
  margin-bottom: 30px;
}

.about-roles {
  margin-bottom: 40px;
}

.about-roles-heading {
  margin-bottom: 15px;
}

.about-roles-actors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 110px;
  width: 85%;
}

.about-roles-actors a:hover {
  text-decoration: underline;
}

.about-trailer iframe {
  width: 400px;
  height: 228.375px;
}

.about-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.poster {
  border-radius: 10px;
  width: 362px;
}

.poster-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 70px;
}

.poster-description-item {
  margin-bottom: 20px;
  margin-left: 30px;
}

.poster-description-item h4 {
  margin-bottom: 5px;
}

.poster-description-item a {
  display: block;
}

.poster-description-item a:hover {
  text-decoration: underline;
}

@media (min-width: 1599.98px) {
  ._container {
    max-width: 1440px;
  }

  .header {
    font-size: 22px;
  }

  .header-logo svg {
    width: 65px;
  }

  .main {
    margin-top: 65px;
  }

  .main-date {
    font-size: 26px;
    margin-bottom: 45px;
  }

  .main-heading {
    width: 1000px;
    margin-bottom: 70px;
  }

  .main-description {
    max-width: 510px;
  }

  .main-btn img {
    width: 21px;
  }

  .main-btn {
    font-size: 21px;
    margin-top: 91px;
  }

  .main-btn1 {
    padding: 18px 35px;
    margin-right: 75px;
  }

  .venom {
    width: 840px;
  }

  .slide {
    width: 550px;
  }

  ._heading {
    font-size: 21px;
  }

  ._paragraph {
    font-size: 19px;
  }

  .about-heading {
    margin-top: 20px;
    margin-bottom: 37px;
    font-size: 40px;
  }

  .about-description {
    margin-bottom: 25px;
    max-width: 510px;
  }

  .about-roles {
    margin-bottom: 60px;
  }

  .about-roles-heading {
    margin-bottom: 25px;
  }

  .about-roles-actors {
    max-height: 130px;
    width: 90%;
  }

  .about-trailer iframe {
    width: 500px;
    height: 281.25px;
  }

  .poster {
    width: 490px;
  }

  .poster-description-item {
    margin-bottom: 40px;
    margin-left: 60px;
  }
}

@media (max-width: 1400px) {
  .main {
    margin-top: 30px;
    margin-bottom: 150px;
  }

  .main-date {
    font-size: 21px;
    margin-bottom: 30px;
  }

  .main-heading {
    width: 700px;
    margin-bottom: 30px;
  }

  .main-description {
    max-width: 390px;
  }

  .venom {
    width: 650px;
  }

  .slide {
    width: 350px;
  }

  .blood {
    width: 680px;
  }
}

@media (max-width: 1128px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991px) {
  ._container {
    max-width: 750px;
  }

  .header {
    height: 100px;
    font-size: 12px;
  }

  .header-logo {
    margin-right: 16px;
  }

  .header-nav-link {
    margin-left: 19px;
  }

  .main {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .main-date {
    font-size: 17px;
    margin-bottom: 25px;
  }

  .main-description {
    max-width: 320px;
  }

  .main-btn img {
    width: 12px;
  }

  .main-btn span {
    margin-left: 7px;
  }

  .main-btn {
    font-size: 12px;
    margin-top: 45px;
  }

  .main-btn1 {
    padding: 10px 25px;
    margin-right: 30px;
  }

  .venom {
    width: 400px;
    top: 35px;
  }

  .slide {
    width: 230px;
  }

  .blood {
    width: 450px;
    top: 25px;
  }

  ._heading {
    font-size: 13px;
  }

  ._paragraph {
    font-size: 12px;
  }

  .about-heading {
    font-size: 30px;
    margin-bottom: 17px;
  }

  .about-description {
    margin-bottom: 20px;
    max-width: 300px;
  }

  .about-roles {
    margin-bottom: 20px;
  }

  .about-roles-heading {
    margin-bottom: 8px;
  }

  .about-roles-actors {
    max-height: 80px;
  }

  .about-trailer iframe {
    width: 300px;
    height: 168.75px;
  }

  .poster {
    width: 270px;
  }

  .poster-description-item {
    margin-bottom: 17px;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  ._container {
    max-width: none;
    padding: 0 25px;
  }

  html,
  body {
    overflow: unset;
  }

  body {
    background: #14131a;
  }

  body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #lol123 {
    width: 100%;
    height: 101px;
    position: fixed;
    background-color: #14131a;
  }

  .fixed {
    position: fixed;
  }

  .header {
    width: 480px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 101px;
    font-size: 14px;
  }

  .header-logo {
    margin-right: 12px;
  }

  .header-nav-link {
    display: none;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 123px;
  }

  .main-date {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .main-date {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .main-heading {
    width: 480px;
    margin-bottom: 30px;
  }

  .main-description {
    max-width: 270px;
    text-align: center;
  }

  .main-btn img {
    width: 10px;
  }

  .main-btn img {
    width: 14px;
  }

  .main-btn span {
    margin-left: 10px;
  }

  .main-btn {
    font-size: 10px;
    margin-top: 28px;
  }

  .main-btn {
    font-size: 9px;
    margin-top: 23px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-btn {
    margin-top: 35px;
    font-size: 14px;
    margin-bottom: 25px;
  }

  .main-btn1 {
    padding: 7px 15px;
    margin-right: 20px;
  }

  .main-btn1 {
    margin-right: 0;
  }

  .main-btn1 {
    margin-right: 0;
    margin-bottom: 25px;
    padding: 15px 30px;
  }

  .venom {
    width: 610px;
    top: 40px;
    z-index: -1;
    opacity: 0.4;
  }

  .slide {
    width: 160px;
  }

  .slide {
    display: none;
  }

  .blood {
    width: 700px;
    top: 110px;
    z-index: -49;
    opacity: 0.2;
  }

  ._heading {
    font-size: 16px;
  }

  ._paragraph {
    font-size: 10px;
  }

  ._paragraph {
    font-size: 9px;
  }

  ._paragraph {
    font-size: 16px;
  }

  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 101px;
  }

  .about-heading {
    margin-top: 25px;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 21px;
  }

  .about-description {
    margin-bottom: 40px;
    max-width: 270px;
  }

  .about-roles-actors {
    max-height: 1000px;
  }

  .about-trailer iframe {
    width: 100%;
    height: 194px;
    margin-bottom: 40px;
  }

  .about-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .poster {
    width: 100%;
    margin-bottom: 45px;
  }

  .poster-description-item {
    margin-left: 0;
  }
}

@media (max-width: 481px) {
  #lol123 {
    width: 100%;
    height: 80px;
  }

  .header {
    width: 350px;
    height: 80px;
    font-size: 11px;
  }

  .burger-text {
    font-size: 14px;
    margin-right: 11px;
  }

  .burger-line:not(:last-child) {
    margin-bottom: 6px;
  }

  .burger-line {
    height: 2px;
    width: 24px;
  }

  .active .header-nav {
    font-size: 16px;
  }

  .active .header-nav div {
    width: 352px;
    height: 80px;
  }

  .active .header-nav .burger-arrow img {
    width: 25px;
  }

  .main {
    margin-top: 110px;
  }

  .main-heading {
    width: 350px;
    margin-bottom: 25px;
  }

  .main-description {
    max-width: 250px;
  }

  .venom {
    width: 500px;
    top: 80px;
    opacity: 0.4;
  }

  .blood {
    z-index: -59;
    width: 600px;
    top: 100px;
    opacity: 0.2;
  }

  .about {
    margin-top: 70px;
  }
}

@media (max-width: 359px) {
  .about-trailer iframe {
    width: 100%;
    height: 150px;
  }
}

@media (max-width: 768px) and (min-width: 360px) {
  .about-trailer iframe {
    width: 100%;
    height: 290px;
  }

  .poster {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}